body {
    background-color: rgb(239, 239, 239);
    padding-bottom: 50px;
}

.main {
    max-width: 80vw;
    min-width: 740px;
    margin: 0 auto;
}

.topControls button {
    margin-bottom: 24px;
    align-self: flex-end;
    margin-left: 1rem;
}

.row-error {
    background-color: #f4d2d0;
  }
  
  .row-warning {
    background-color: #fef3bf;
  }
